

              <div  class="col-md-8">
                <!-- Carousel Slider -->
                <div class="js-carousel"
                     data-infinite="true"
                     data-autoplay="true"
                     data-fade="true"
                     data-speed="7000"
                     data-lazy-load="ondemand"
                     data-pagi-classes="u-carousel-indicators-v1 g-pos-abs g-bottom-20 g-left-20">
                  <div class="js-slide">
                    <div class="g-bg-size-cover g-bg-pos-center g-min-height-400" data-bg-img-src="{% static 'unify/assets/img/1.jpg' %}"></div>
                  </div>
                  <div class="js-slide">
                    <div class="g-bg-size-cover g-bg-pos-center g-min-height-400" data-bg-img-src="{% static 'unify/assets/img/39.jpg' %}"></div>
                  </div>
                  <div class="js-slide">
                    <div class="g-bg-size-cover g-bg-pos-center g-min-height-400" data-bg-img-src="{% static 'unify/assets/img/3.jpg' %}"></div>
                  </div>
                </div>
                <!-- End Carousel Slider -->
              </div>