{% load static %}              
               <!-- Mega Menu -->
                      <div class="w-100 hs-mega-menu u-shadow-v11 g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-pa-30 g-mt-17" aria-labelledby="mega-menu-label-4">
                        <div class="row">

                          <div class="col-sm-6 col-md-3 g-mb-30 g-mb-0--sm">
                            <!-- Links -->
                            <div class="mb-5">
                              <span class="d-block g-font-weight-500 text-uppercase mb-2">Accessories</span>
  
                              <ul class="list-unstyled mb-0">
                                <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#">All accessories</a></li>
                                <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#">Bags &amp; Purses</a></li>
                                <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#">Scarvs &amp; Hats</a></li>
                                <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#">Jewellery</a></li>
                                <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#">Fragrance &amp; Beauty</a></li>
                              </ul>
                            </div>
                            <!-- End Links -->
  
                    
                          </div>
  
                          <div class="col-sm-6 col-md-3 g-mb-30 g-mb-0--sm">
                            <!-- Links -->
                            <span class="d-block g-font-weight-500 text-uppercase mb-2">Mixed</span>
  
                            <ul class="list-unstyled mb-0">
                              <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#">New in</a></li>
                              <li>
                                <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#">Coats &amp; Jackets
                                  <span class="u-label g-bg-primary rounded g-ml-10">New</span>
                                </a>
                              </li>
                              <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#">Jeans</a></li>
                              <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#">Dresses</a></li>
                              <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#">Shorts</a></li>
                              <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5" href="#">Skirts</a></li>
                             </ul>
                            <!-- End Links -->
                          </div>
  
                          <div class="col-sm-6 col-md-3 g-mb-30 g-mb-0--sm">
                           
  
                        
                          </div>
                        </div>
                      </div>